default:
    suites:
        default:
            paths:
                - '%paths.base%/tests/behat/features'
            contexts:
                - App\Tests\behat\Context\DatabaseContext
                - App\Tests\behat\Context\ApiContext
                - App\Tests\behat\Context\ClientContext
                - App\Tests\behat\Context\LoggerContext
                - App\Tests\behat\Context\CommandContext
                - App\Tests\behat\Context\CurrencyContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
            bootstrap: tests/bootstrap.php
        DVDoug\Behat\CodeCoverage\Extension:
            reports:
                html:
                    target: './coverage_behat'
            filter:
                include:
                    directories:
                        'src':

