parameters:
    level: max
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:once\\(\\)\\.$#"
        - "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:never\\(\\)\\.$#"
        #TODO: fix
