parameters:
    level: max
    bootstrapFiles:
        - ./vendor/autoload.php
    paths:
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php

